Este notebook tem como objetivo validar se as colunas das Views estão de acordo com o Dicionário de Dados baseado nas colunas dos Endpoints da API do Caravel

In [1]:
from sqlalchemy import create_engine
import pandas as pd
from validador import DataFrameProcessor

In [2]:
#LEITURA DICIONÁRIO
file_name = "/home/jovyan/notebooks/Validação estrutura/a.xlsx"  # Certifique-se de fornecer o caminho correto do arquivo
sheet_name = 'a'

In [3]:
#LEITURA VIEW BANCO

# Configurações de conexão com o banco de dados
user = 'postgres'
password = 'password'
host = 'postgres'
port = '5432'  # Porta padrão do PostgreSQL
database = 'prova'

# Cria a string de conexão
connection_string = f'postgresql://{user}:{password}@{host}:{port}/{database}'

# Cria a engine de conexão
engine = create_engine(connection_string)

# Consulta SQL para selecionar os metadados da tabela
query_aluno_sqlserver= "SELECT column_name, data_type, is_nullable FROM information_schema.columns WHERE table_name = 'view_avaliacoes2';"

## Execução da Função

In [4]:
#processor = DataFrameProcessor(df, dic_vw)
processor = DataFrameProcessor(file_name, sheet_name, query_aluno_sqlserver, engine)
processor.read_excel_to_df()
processor.execute_sql_to_df()
processor.process_dataframes()
processor.close_session()

---------------------------------------------------------------------- RESUMO DA TABELA DO BANCO ----------------------------------------------------------------------
+--------------+-----------------------------------+----------+
|column_name   |Metadados coerentes com dicionário?|Observação|
+--------------+-----------------------------------+----------+
|id_turma      |Sim                                |OK        |
|id_disciplina |Sim                                |OK        |
|data_avaliacao|Sim                                |OK        |
|titulo        |Sim                                |OK        |
+--------------+-----------------------------------+----------+

---------------------------------------------------------------------- DETALHES DA TABELA E DICIONÁRIO ----------------------------------------------------------------------
+--------------+---------+-----------+-----------------+---------------+-------------+---------------+------------------------+------------------+---------------+
|column_name   |data_type|is_nullable|dtype_consolidado|dic_column_name|dic_data_type|dic_is_nullable|coluna_existente_no_dic?|tipagem_igual_dic?|null_igual_dic?|
+--------------+---------+-----------+-----------------+---------------+-------------+---------------+------------------------+------------------+---------------+
|id_turma      |bigint   |YES        |int              |id_turma       |int          |YES            |sim                     |sim               |sim            |
|id_disciplina |bigint   |YES        |int              |id_disciplina  |int          |YES            |sim                     |sim               |sim            |
|data_avaliacao|date     |YES        |date             |data_avaliacao |date         |YES            |sim                     |sim               |sim            |
|titulo        |text     |YES        |varchar          |titulo         |varchar      |YES            |sim                     |sim               |sim            |
+--------------+---------+-----------+-----------------+---------------+-------------+---------------+------------------------+------------------+---------------+

------------------------------------------------- COLUNAS DO DICIONÁRIO NÃO ENCONTRADAS NA TABELA DO BANCO -------------------------------------------------
+-----------+---------+-----------+
|column_name|data_type|is_nullable|
+-----------+---------+-----------+
|a          |int      |NO         |
|b          |int      |NO         |
|a          |int      |NO         |
|e          |int      |NO         |
+-----------+---------+-----------+